.container {
  margin-top: 4rem !important;
}

.form {
  margin-top: 2rem;
}

.form-control {
  width: 100%;
  /* margin-bottom: 2rem; */
  position: relative;
}

.form-control:not(:last-child) {
  margin-bottom: 2rem;
}

.input {
  position: relative;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  background-color: white;
  border-radius: 1rem;
  width: 100%;
}

label {
  position: relative;
}

label:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 4px;
  width: 2.4rem;
  height: 2.4rem;
  z-index: 5;
  opacity: 0.7;
  transform: translateY(-50%) scale(0.75);
}

.label-email:before {
  background: url('../../../asset/svg/personIcon.svg');
}

.label-password:before {
  background: url('../../../asset/svg/lockIcon.svg');
}

.form-control img {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%) scale(0.85);
}

.link {
  text-decoration: none;
  color: var(--color-primary-accent);
  font-weight: 500;
}

.forgot-password-link {
  float: right;
  margin-top: 1rem;
}

.sign-in {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 3.6rem;
  margin-top: 4rem;
}

.sign-in-google {
  margin-top: 2rem;
}
.sign-up-link {
  top: 4rem;
}
